body {
	background: url(bakgr.jpg);
	display: flex;
	flex-direction: column;
	align-items: center;
}

p {
    font-size: larger;
    color: white;
}

a {
	text-decoration: none;
	color: blueviolet;
}