.error {
	font-size:small;
	color: red;
}

body {
	background: url(bakgr.jpg);
	display: flex;
	flex-direction: column;
	align-items: center;
}

h1 {
	color: white;
	margin-top: 100px;
	margin-bottom: 100px;
	font-size: -webkit-xxx-large;
}

form {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 25px 70px 30px 70px;
	background: beige;
	border-radius: 25px;
	margin-bottom: 60px;
	margin-top: 30px;
}

p {
	display: flex;
	flex-direction: column;
	align-items: center;
	color: white;
	font-size: larger;
}
a {
	color: blueviolet;
}

